#h1Style {
	color: #444;
}

.s1 {
	color: green;
	font-size: 40px;
	text-decoration: underline;
}

.s2{
	font-size: 14px;
	text-transform : lowercase;
	font-style: cursive ; 

}

.s3{
	font-style: cursive ; 
	font-style: italic;
	color: #BA55D3 ; 

}