.div_teal {
  height: 300px;
  width: 300px;
  padding: 50px;
  background: teal;
}
.div_rose {
	height: 300px;
	width: 300px;
	border: 50px ; 
	background: #ff3399;
}

.div_red {
	 position: absolute;
     top: 15%;
     left:7%;
	height: 200px;
	width: 200px;
	background: red;
}